@import "@styles/main";

.h5p-portfolio-chapter-container {
  display: none;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(0);
  transition: .25s;
  width: 100%;

  &.h5p-portfolio-previous {
    transform: translateX(-100%);
  }

  &.h5p-portfolio-current {
    display: block;
    transform: translateX(0);
  }

  &.h5p-portfolio-next {
    transform: translateX(100%);
  }

  .h5p-portfolio-header {
    border-bottom: 2px solid rgb(185, 197, 203);

    .h5p-portfolio-placeholder-content-row {
      margin: 0 1rem;
    }
  }

  .h5p-portfolio-footer {
    border-top: 2px solid rgb(185, 197, 203);

    .h5p-portfolio-placeholder-content-row {
      margin: 0 1rem;
    }
  }

  .h5p-portfolio-chapter {
    min-height: 19rem;
  }
}

.h5p-portfolio-animate {
  display: block;
  transition: transform .25s ease-in-out;
}

.h5p-portfolio-content {
  overflow: hidden;
  position: relative;
  width: 100%;

  &.hidden {
    display: none;
  }

  .h5p-column-content {
    // Workaround for Android to prevent font boosting
    max-height: 9999999px;

    &:first-child {
      margin-top: 0;

      &> p {
        margin-top: 0;
      }
    }
  }
}

.h5p-content-hidden {
  display: none;
}

/* Help Course Presentation to resize properly with initial height of max-width / 9 * 16 */
.h5p-course-presentation {
  .h5p-wrapper {
    height: 596px;
  }
}
