@import "@styles/main";

.h5p-portfolio-navigation {
  background-color: $background-color;
  background-size: cover;
  box-shadow: .625rem .625rem 1.875rem $dark-grey-20;
  max-width: 0;
  min-height: 19rem;
  overflow: hidden;
  position: sticky;
  top: 0;
  transition: width .15s linear, flex-basis .15s linear, max-width .15s linear;
  width: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;

  >a {
    font-weight: bold;
  }

  >div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .navigation-list {
    background-color: $background-color;
    margin: 0;
    padding: 0;
  }
}

.h5p-portfolio-navigation-sectionlist {
  background-color: $background-color;
  background-size: cover;
  margin: 0;
  padding: 0;
  transition: max-height .5s ease-in;

  >:first-child {
    margin-top: .5rem;
  }

  >:last-child {
    border-bottom: solid 1px $ghost-white;
    padding-bottom: .5rem;
  }

  .h5p-portfolio-navigation-section {
    background: transparent;
    color: $mud;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;

    .section-button {
      position: relative;
      background: transparent;
      border: 0;
      padding: 0 1.125rem;
      max-width: 100%;
    }

    .h5p-portfolio-navigation-section-icon {
      position: absolute;
      color: $black;
      font-size: 5px;
      visibility: hidden;
      width: 2.17rem;
      top: 50%;
      transform: translateY(-50%);

      &.h5p-portfolio-navigation-section-task {
        visibility: inherit;
      }
    }

    .h5p-portfolio-navigation-section-title {
      font-size: .85rem;
      margin-left: 1rem;
      margin-right: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  :hover {
    color: var(--color-base, $base-color);
    cursor: pointer;
  }
}

.h5p-portfolio-navigation-closed {
  .h5p-portfolio-navigation-sectionlist {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
    visibility: hidden;
  }
}

.h5p-portfolio-navigation-chapter {
  list-style: none;

  &.h5p-portfolio-navigation-chapter-first {
    margin-top: .5rem;
  }

  &.h5p-portfolio-navigation-chapter-last {
    border-bottom: solid 1px $ghost-white;
    height: 2rem;
  }
}

.h5p-portfolio-navigation-chapter-button {
  align-items: center;
  background-color: $background-color;
  background-size: cover;
  border: 0;
  border-bottom: solid 1px $ghost-white;
  color: $mud;
  display: flex;
  height: 2.825rem;
  margin: 0;
  padding: 0 1rem 0 0;
  text-align: initial;
  text-decoration: none solid $mud;
  width: 100%;
  position: relative;

  .h5p-portfolio-navigation-chapter-title-text {
    background-color: transparent;
    color: $mud;
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 1.5rem;
    overflow: hidden;
    text-decoration: none solid $mud;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .h5p-portfolio-navigation-chapter-accordion {
    font-size: .65rem;
    width: 1rem;

    &.hidden {
      opacity: 0;
      visibility: none;
    }
  }

  &.h5p-portfolio-navigation-chapter-content {
    border-bottom: none;
    height: 1.75rem;

    .h5p-portfolio-navigation-chapter-title-text {
      font-size: 0.708rem;
      font-weight: normal;
      overflow: hidden;
      padding-left: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        color: var(--color-base, $base-color);
        cursor: pointer;
      }
    }
  }

  &.level-1 {
    padding-left: 0.75rem;
  }

  &.level-2 {
    padding-left: 1.75rem;
  }

  &.level-3 {
    padding-left: 2.75rem;
  }

  &.level-4 {
    padding-left: 3.75rem;
  }

  &.h5p-portfolio-navigation-current:not(.h5p-portfolio-navigation-chapter-content) {
    background-color: var(--color-base-10, $base-color-10);
    // border-bottom-color: white;

    .h5p-portfolio-navigation-chapter-title-text {
      color: var(--color-base, $base-color);
      text-decoration: none solid var(--color-base, $base-color);
    }
  }

  &:hover:not(.h5p-portfolio-navigation-chapter-content) {
    background-color: var(--color-base-5, $base-color-5);
    cursor: pointer;
  }

  &:not(.h5p-portfolio-navigation-chapter-content):active {
    background-color: var(--color-base-10, $base-color-10);
  }
}

.h5p-portfolio-navigation-maintitle {
  background-color: var(--color-base, $base-color);
  background-size: cover;

  .navigation-title {
    align-self: center;
    color: var(--color-text, $background-color);
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
    padding-left: 1.25rem;
    text-decoration: none solid var(--color-text, $background-color);
    text-overflow: ellipsis;
  }
}

.display-none {
  display: none;
}
