@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

.h5p-interactive-book-status {
  align-items: center;
  background-color: $background-color;
  background-size: cover;
  border: 0;
  border-color: var(--color-base, $base-color);
  border-style: solid;
  box-shadow: 10px 10px 30px $dark-grey-20;
  display: flex;
  overflow: hidden;
  padding: .5em;

  .h5p-interactive-book-status-button {
    align-items: center;
    border-radius: 3px;
    display: flex;
    height: 3.6em;
    padding: 0;
    width: 3.6em;
  }
}

.h5p-interactive-book-status-button {
  border-radius: 3px;

  &:hover {
    background-color: var(--color-base-10, $base-color-10);
    background-size: cover;
    cursor: pointer;
  }

  &:active {
    background-color: var(--color-base-20, $base-color-20);
    background-size: cover;
  }

  &[disabled] {
    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }
}

.h5p-interactive-book-status-fullscreen {
  background-color: var(--color-base-5, $base-color-5);
  background-size: cover;
  border: .125em solid $background-color;
  flex-shrink: 0;
  justify-content: center;

  &.h5p-interactive-book-enter-fullscreen {
    &::before {
      color: var(--color-base, $base-color);
      content: '\e90b';
      font-family: 'h5p-book';
      font-size: 1.2em;
    }
  }

  &.h5p-interactive-book-exit-fullscreen {
    &::before {
      font-size: 1.2em;
      color: var(--color-base, $base-color);
      content: '\e90c';
      font-family: 'h5p-book';
    }
  }
}

.h5p-interactive-book-status-menu {
  background-color: $background-color;
  background-size: cover;
  border: 2px solid $background-color;
  border-radius: 3px;
  flex-shrink: 0;

  .icon-menu {
    color: var(--color-base, $base-color);
    font-size: 1.5em;
    margin: auto;
  }

  &.h5p-interactive-book-status-menu-active {
    background-color: var(--color-base, $base-color);
    opacity: 20;
    position: relative;

    .icon-menu {
      color: $background-color;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: var(--color-base-90, $base-color-90);
      background-size: cover;
      cursor: pointer;
    }

    &:active {
      background-color: var(--color-base-95, $base-color-95);
      background-size: cover;
    }

    &:focus-visible {
      outline-color: #1768C4;
      outline-offset: 1px;
    }
  }
}

.h5p-interactive-book-status-progress {
  flex-shrink: 0;
  margin: 0;
  white-space: nowrap;
  width: 86px;

  .hidden-but-read {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.h5p-interactive-book-status-progress-number {
  color: var(--color-base, $base-color);
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  text-decoration: none solid var(--color-base, $base-color);
}

.h5p-interactive-book-status-progress-divider {
  color: $mud;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  text-decoration: none solid $mud;
}

.h5p-interactive-book-status-progressbar-back {
  background-color: var(--color-base-20, $base-color-20);
  background-size: cover;
  width: 100%;
}

.h5p-interactive-book-status-progressbar-front {
  background-color: var(--color-base, $base-color);
  height: .313em;
  transition: 1s;
}

.h5p-interactive-book-status-chapter {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .title {
    color: $mud;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    padding: 0 1rem;
    text-decoration: none solid $mud;
    text-overflow: ellipsis;
  }
}

.h5p-interactive-book-status-arrow {
  background-color: var(--color-base-5, $base-color-5);
  background-size: cover;
  border: .125em solid $background-color;
  border-radius: 3px;
  flex-shrink: 0;
  height: 2.75em;
  width: 2.75em;

  .navigation-button {
    background: transparent;
    border: 0;
    color: var(--color-base, $base-color);
    font-size: 1.5em;
    margin: auto;

    &.disabled {
      opacity: .5;
    }
  }
}

.h5p-interactive-book-status-header {
  @include prefix(position, sticky, webkit);

  background: $background-color;
  top: 0;
  z-index: 2;

  .h5p-interactive-book-status-to-top {
    display: none;
  }
}

.h5p-interactive-book-status-footer {
  bottom: 0;

  .h5p-interactive-book-status-menu {
    display: none;
  }

  &.footer-hidden {
    display: none;
  }
}
