.h5p-interactive-book {
  &.h5p-interactive-book-small {
    .h5p-interactive-box-summary-progress {
      display: block;

      & > div {
        width: 100%;
        margin-bottom: 0.6rem;
      }
    }

    .h5p-interactive-book-summary-menu-button {
      justify-content: center;
      border-width: 0.125rem;
    }

    .h5p-interactive-book-summary-menu-button-arrow {
      visibility: visible;
      opacity: 1;
      right: 0.6875rem;
    }

    .h5p-interactive-book-summary-buttons {
      display: flex;

      .h5p-interactive-book-summary-button {
        margin-right: initial;
        justify-content: center;
        padding: 1rem;
      }

      .h5p-interactive-book-summary-submit {
        flex-grow: 6;
      }
      .h5p-interactive-book-summary-restart {
        flex-grow: 4;
        margin-left: 0.5rem;
      }
    }

    .h5p-interactive-book-summary-score-bar {
      margin-top: 1.25rem;
    }

    .h5p-interactive-book-summary-page {
      padding: 0.5rem;
    }

    & .h5p-interactive-book-navigation-open .h5p-interactive-book-navigation-chapter-button.h5p-interactive-book-navigation-current[aria-expanded="true"]
    {
      border-bottom-color: #0E7C57;
      border-bottom-width: 2px;
    }

  }
}

.h5p-interactive-book-summary {
  padding: 0 1.125rem;
  margin: 0.7rem auto;
}

.h5p-interactive-book-summary-menu-button {
  border: 1px solid #0E7C57;
  border-radius: 2px;
  background-color: #ffffff;
  font-size: 0.8rem;
  color: #0d736e;
  font-weight: 700;
  line-height: 1rem;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem;

  &.h5p-interactive-book-navigation-chapter-button.h5p-interactive-book-navigation-current {
    background-color: #f1f9f8;
    border-bottom-color: #0E7C57;
  }

  &:hover {
    background-color: #f1f9f8;

    .h5p-interactive-book-summary-menu-button-arrow {
      opacity: 1;
      visibility: visible;
      transform: rotate(90deg) translateY(-10px);
    }
  }

  &[data-book-completed="true"],
  &:active {
    box-shadow: 0 0 0.625rem rgba(12,201,167,1);
  }

  .h5p-interactive-book-summary-text {
    white-space: normal;
    text-align: left;
    height: 100%;
    flex-grow: 2;
    margin-right: 0.75rem;
  }

  .h5p-interactive-book-summary-icon {
    margin-right: 0.25rem;
    margin-left: auto;
    font-size: 1.1em;
  }

  .h5p-interactive-book-summary-menu-button-arrow {
    transform: rotate(90deg);
    position: absolute;
    right: 25px;
    visibility: hidden;
    opacity: 0;
    height: auto;
    font-weight: normal;
    transition: transform 0.4s, opacity 0.2s, visibility 0.2s;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.h5p-interactive-book-navigation-summary-button {
  padding: 1.125rem 0.5rem;
}

.h5p-interactive-book-summary-page {

  padding: 1.25rem;

  ol,
  ul,
  li {
    padding-left: 0;
  }

  .h5p-interactive-box-summary-progress {
    display: flex;
    justify-content: space-between;
    color: #273C59;

    .h5p-interactive-book-summary-progress-container {
      background-color: transparentize(#dbdbdb, 0.7);
      width: 49%;
      padding: 1rem;
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin-right: 1em;

      .absolute-value {
        color: #273C59;
        font-size: 1.25em;
      }

      .separator {
        color: #273C59;
        font-size: 0.75em;
        margin: auto 0.4em;
        vertical-align: top;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    h3 {
      font-size: 0.875rem;
      font-style: italic;
      line-height: 1.25rem;
      margin-top: 0;
    }

    .h5p-interactive-book-summary-progressbox-bigtext {
      font-size: 1.375rem;
      color: var(--color-contrast, #2d7ad2);
      margin: 0.4375rem auto;
      font-weight: bold;
    }

    .h5p-interactive-book-summary-progressbox-smalltext {
      font-size: 0.875rem;
      color: #273c59;
      font-style: italic;
      line-height: 1.25rem;
      margin: 0;
    }
  }

  .h5p-interactive-book-summary-buttons {
    margin-top: 1rem;
    flex-wrap: wrap;

    .h5p-interactive-book-summary-button {
      border-radius: 4px;
      padding: 0.6125rem 0.8125rem;
      display: inline-flex;
      align-items: center;
      flex-direction: row-reverse;
      font-weight: bold;
      margin-right: 1rem;
      font-size: 0.75rem;
      cursor: pointer;

      & .icon-restart,
      & .icon-paper-pencil
      {
        margin-right: 0.5rem;
        font-size: 1.1875rem;
      }
    }
    .h5p-interactive-book-summary-submit {
      background-color: #0E7C57;
      color: #ffffff;
      border: 1px solid #0E7C57;
      transition: background-color 150ms;

      &:hover {
        background-color: #0c694a;
      }
    }

    .h5p-interactive-book-summary-restart {
      color: #757575;
      border: 1px solid #ebebeb;
      background-color: #ffffff;
      transition: background-color 150ms;

      &:hover {
        background-color: #ebebeb;
      }
    }

    .h5p-interactive-book-summary-submitted {
      transform: translateY(100%);
      transition: transform 0.4s;
      position: absolute;
      opacity: 0;
      border-radius: 4px;
      background-color: #d3ede9;
      display: flex;
      padding: 0.4375rem;
      align-items: center;
      flex: auto;
      left: 2000px;

      .icon-chapter-done {
        font-size: 2rem;
        margin: 0.5625rem 1rem;
        color: #0e8275;
      }

      p {
        font-weight: bold;
        margin: 0;
        font-size: 0.875rem;
        color: #0e8275;
      }

      .h5p-interactive-book-summary-restart {
        margin-left: auto;
        padding: 0.5615rem;
        flex-grow: initial;
      }

      button {
        display: none;
      }
    }

    &.submitted {
      & > button {
        display: none;
      }

      .h5p-interactive-book-summary-submitted {
        transform: translateY(0);
        opacity: 1;
        position: static;
        button {
          display: flex;
        }
      }
    }
  }

  .h5p-interactive-book-summary-overview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    select {
      margin: auto 0 auto auto;
      max-height: 1.5rem;
    }
  }

  .h5p-interactive-book-summary-overview-list {
    display: flex;
    flex-direction: column;
    line-height: 1.9375rem;
  }

  .h5p-interactive-book-summary-overview-list-only-unanswered  {
    .h5p-interactive-book-summary-overview-section-details-task-done,
    .h5p-interactive-book-summary-no-interactions {
      display: none;
    }
  }

  .h5p-interactive-book-summary-overview-section {
    padding: 0.875rem 1.25rem;
    border: 1px solid #e8e8e8;
    border-bottom: 0;
    display: block;

    h4 {
      margin: 0;
      display: flex;
      align-items: center;
      color: #000;
      cursor: pointer;

      &:hover {
        color: var(--color-contrast, #2d7ad2);
      }

      span[class^='icon-'],
      span[class*=' icon-'] {
        margin-left: auto;
        color: var(--color-contrast, #2d7ad2);
        font-weight: 100;
        cursor: pointer;
      }
    }
  }

  .h5p-interactive-book-summary-overview-section:first-of-type,
  .h5p-interactive-book-summary-top-section {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .h5p-interactive-book-summary-overview-section:last-of-type,
  .h5p-interactive-book-summary-bottom-section {
    border-bottom: 1px solid #ebebeb;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .h5p-interactive-book-summary-overview-section-score-header {
    display: flex;

    div {
      font-size: 0.875rem;
      margin-left: auto;
      line-height: 2rem;
    }
  }

  .h5p-interactive-book-summary-overview-list-empty {
    @extend .h5p-interactive-book-summary-overview-section;
    display: none;
  }

  .h5p-interactive-book-summary-overview-section-details {
    display: flex;
    border-top: 1px solid #ebebeb;
    padding: 0.25rem;

    &:hover {
      background: #f3f3f3;
    }

    & .h5p-interactive-book-summary-section-title {
      font-size: 0.875rem;
      border: 0;
      background-color: transparent;
      padding: 0;
      text-align: left;
      width: 100%;
      cursor: pointer;
    }

    & .h5p-interactive-book-summary-section-score {
      margin-left: auto;
      white-space: nowrap;
      font-size: 0.875rem;
    }
  }

  .h5p-interactive-book-summary-section-icon {
    margin-right: 0.6125rem;
    color: var(--color-contrast, #2d7ad2);
    font-size: 0.8125rem;
    align-items: center;
    display: flex;
  }

  .h5p-interactive-book-summary-chapter-subheader {
    font-style: italic;
    color: #737285;
    font-size: 0.875rem;
    line-height: 0.9375rem;
  }

  .h5p-interactive-book-summary-progress-circle {
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 50%;
    border: 6px solid #F4F4F4;
    box-shadow: 0 0 0 4px rgba(228,228,237,0.5);
    margin-left: auto;
    position: relative;

    & canvas {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .h5p-interactive-book-summary-score-bar {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
  }

  .h5p-interactive-book-summary-no-chapter-interactions {
    p:first-child {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.h5p-interactive-book-summary-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  height: 5rem;
  box-shadow: -5px -5px 10px rgba(166,166,166,0.4);
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  transform: translateY(120%);
  transition: transform 0.5s;
  z-index: 1;

  &.show-footer {
    transform: translateY(0);
  }

  &.menu-open {
    display: none;
  }

  button {
    flex: auto;
  }
}

.h5p-interactive-book-summary-dropdown {
  position: relative;
  max-width: 200px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-color: #ffffff;
  margin-left: auto 0.0625rem auto auto;
  font-size: 0.875rem;
  min-width: 12rem;

  & > button {
    cursor: pointer;
  }

  &[active]{

    .h5p-interactive-book-summary-dropdown-menu {
      display: block;
      box-shadow: 0 2px 3px 2px rgba(0,0,0,0.1);

      button {
        background-color: #ffffff;
      }
    }

    button {
      background-color: #fafafa;
      cursor: pointer;
      text-align: left;
    }

  }

  .h5p-interactive-book-summary-dropdown-menu {
    position: absolute;
    list-style: none;
    display: none;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: inherit;
  }

  button {
    display: flex;
    width: 100%;
    border: 0;
    background: transparent;
    align-items: center;
    font-size: inherit;
    padding: 0.5rem 0.6875rem;

    .icon-expanded {
      margin-left: auto;
      font-size: 0.5rem;
    }
  }
}
