@import "@styles/main";

@font-face {
  font-family: "h5p-book";
  font-style: normal;
  font-weight: normal;
  src: url("@fonts/h5p-portfolio.eot") format("embedded-opentype"),
    url("@fonts/h5p-portfolio.ttf") format("truetype"),
    url("@fonts/h5p-portfolio.woff") format("woff"),
    url("@fonts/h5p-portfolio.svg") format("svg");
}

.hidden-dom {
  left: -9999999px;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.h5p-portfolio [class^='icon-'],
.h5p-portfolio [class*=' icon-'] {
  font-family: 'h5p-book', system-ui, -apple-system, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5rem;
  text-transform: none;
}

.h5p-portfolio {
  &.h5p-scrollable-fullscreen.h5p-semi-fullscreen {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

  .h5p-scrollable-fullscreen {
    overflow-y: auto;
  }

  &.h5p-fullscreen {
    background-color: $background-color;
  }

  .h5p-content-controls {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: $scrollbar-30;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-75;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbar;
  }

  .h5p-portfolio-main {
    display: flex;
    flex: 1;
    overflow: hidden;

    &.h5p-content-hidden {
      display: none;
    }

    &.h5p-portfolio-navigation-open {

      .h5p-portfolio-navigation {
        max-width: 16.563rem;
        width: 16.563rem;
      }
    }
  }
}

.h5p-content-hidden {
  display: none;
}

.h5p-fullscreen,
.h5p-semi-fullscreen {
  .h5p-portfolio {
    display: flex;
    flex-direction: column;

    .h5p-portfolio-content {
      padding-bottom: 4.5rem;
    }

    .h5p-portfolio-status-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
    }

    .h5p-portfolio-main {
      flex: 1;
      overflow: auto;

      .h5p-portfolio-content {
        overflow-x: hidden;
        overflow-y: auto;
        // Note: Subtracts padding, do not use box-sizing because then inner div
        // will have too little space
        min-height: calc(100% - 4.5rem);
      }

      .h5p-portfolio-navigation {
        display: flex;
        flex-direction: column;

        .navigation-list {
          flex: 1;
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
    }
  }
}

@media (max-width: 40rem) {
  .h5p-portfolio {
    .h5p-portfolio-main {
      &.h5p-portfolio-navigation-open {

        .h5p-portfolio-navigation {
          max-width: none;
          width: 100%;
        }

        .h5p-portfolio-navigation-chapter-accordion {
          opacity: 0;
          visibility: hidden;
        }

        .h5p-portfolio-navigation-chapter-button {
          background-color: $background-color;

          &.h5p-portfolio-navigation-current {
            border-bottom: solid 1px $ghost-white;
          }
        }

        .h5p-portfolio-navigation-sectionlist {
          max-height: none;
          overflow: inherit;
          transition: max-height .5s ease-in;
          visibility: inherit;
          padding-left: 0.3rem;
        }

        .h5p-portfolio-content {
          display: none;
        }
      }
    }
  }
}
