
$background-color: #fff;
$base-color: #1768C4;
$base-color-5: rgba($base-color, .05);
$base-color-10: rgba($base-color, .1);
$base-color-20: rgba($base-color, .2);
$base-color-50: rgba($base-color, .5);
$base-color-90: rgba($base-color, .9);
$base-color-95: rgba($base-color, .95);
$black: #000;
$black-20: rgba(0, 0, 0, .2);
$cool-grey: #eee;
$dark-grey-20: rgba(166, 166, 166, .2);
$ghost-white: #e9e4ed;
$light-grey: #bebebe;
$medium-grey: #363636;
$scrollbar: #6C7992;
$scrollbar-30: rgba($scrollbar, .35);
$scrollbar-75: rgba($scrollbar, .75);
$mud: #4c4452;
$mud-80: rgba($mud, .8);

$fullscreen-button-size: 1.8em;
