
$background-color: #fff;
$base-color: #1768C4;
$base-color-5: rgba($base-color, .05);
$base-color-10: rgba($base-color, .1);
$base-color-20: rgba($base-color, .2);
$base-color-50: rgba($base-color, .5);
$base-color-90: rgba($base-color, .9);
$base-color-95: rgba($base-color, .95);
$black: #000;
$black-20: rgba(0, 0, 0, .2);
$cool-grey: #eee;
$dark-grey-20: rgba(166, 166, 166, .2);
$ghost-white: #e9e4ed;
$light-grey: #bebebe;
$medium-grey: #363636;
$scrollbar: #6C7992;
$scrollbar-30: rgba($scrollbar, .35);
$scrollbar-75: rgba($scrollbar, .75);
$mud: #4c4452;
$mud-80: rgba($mud, .8);

$fullscreen-button-size: 1.8em;

@font-face {
  font-family: "h5p-book";
  font-style: normal;
  font-weight: normal;
  src: url("@fonts/h5p-portfolio.eot") format("embedded-opentype"),
    url("@fonts/h5p-portfolio.ttf") format("truetype"),
    url("@fonts/h5p-portfolio.woff") format("woff"),
    url("@fonts/h5p-portfolio.svg") format("svg");
}

.hidden-dom {
  left: -9999999px;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.h5p-portfolio [class^='icon-'],
.h5p-portfolio [class*=' icon-'] {
  font-family: 'h5p-book', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

.h5p-portfolio {
  &.h5p-scrollable-fullscreen.h5p-semi-fullscreen {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

  .h5p-scrollable-fullscreen {
    overflow-y: auto;
  }

  &.h5p-fullscreen {
    background-color: $background-color;
  }

  .h5p-content-controls {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: $scrollbar-30;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-75;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbar;
  }

  .h5p-portfolio-main {
    display: flex;
    flex: 1;
    overflow: hidden;

    &.h5p-content-hidden {
      display: none;
    }

    &.h5p-portfolio-navigation-open {

      .h5p-portfolio-navigation {
        max-width: 16.563em;
        width: 16.563em;
      }
    }
  }
}

.h5p-content-hidden {
  display: none;
}

.h5p-fullscreen,
.h5p-semi-fullscreen {
  .h5p-portfolio {
    display: flex;
    flex-direction: column;

    .h5p-portfolio-content {
      padding-bottom: 4.5em;
    }

    .h5p-portfolio-status-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
    }

    .h5p-portfolio-main {
      flex: 1;
      overflow: auto;

      .h5p-portfolio-content {
        overflow-x: hidden;
        overflow-y: auto;
        // Note: Subtracts padding, do not use box-sizing because then inner div
        // will have too little space
        min-height: calc(100% - 5.5em);
      }

      .h5p-portfolio-navigation {
        display: flex;
        flex-direction: column;

        .navigation-list {
          flex: 1;
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
    }
  }
}

@media (max-width: 40rem) {
  .h5p-portfolio {
    .h5p-portfolio-main {

      &.h5p-portfolio-navigation-open {

        .h5p-portfolio-navigation {
          max-width: none;
          width: 100%;
        }

        .h5p-portfolio-navigation-chapter-accordion {
          opacity: 0;
          visibility: hidden;
        }

        .h5p-portfolio-navigation-chapter-button {
          background-color: $background-color;

          &.h5p-portfolio-navigation-current {
            border-bottom: solid 1px $ghost-white;
          }
        }

        .h5p-portfolio-navigation-sectionlist {
          max-height: none;
          overflow: inherit;
          transition: max-height .5s ease-in;
          visibility: inherit;
          padding-left: 0.3rem;
        }

        .h5p-portfolio-content {
          display: none;
        }
      }
    }
  }
}

.icon-close {
  ::before {
    content: '\e900';
  }
}

.icon-expanded {
  &::before {
    content: '\e901';
  }
}

.icon-collapsed {
  &::before {
    content: '\e902';
  }
}

.icon-chapter-started {
  &::before {
    content: '\e903';
  }
}

.icon-chapter-done {
  &::before {
    content: '\e90a';
  }
}

.icon-check-mark {
  &::before {
    content: '\e910';
  }
}

.icon-chapter-blank {
  &::before {
    content: '\e905';
  }
}

.icon-menu {
  &::before {
    content: '\e906';
  }
}

.icon-previous {
  &::before {
    content: '\e907';
  }
}

.icon-next {
  &::before {
    content: '\e908';
  }
}

.icon-up {
  &::before {
    content: '\e909';
  }
}

.icon-question-answered {
  &::before {
    content: '\e90a';
  }
}

.icon-enable-fullscreen {
  &::before {
    content: '\e90b';
  }
}

.icon-disable-fullscreen {
  &::before {
    content: '\e90c';
  }
}

.icon-restart {
  &::before {
    content: '\e90d';
  }
}

.icon-paper-pencil {
  &::before {
    content: '\e90e';
  }
}

.icon-paper {
  &::before {
    content: '\e90f';
  }
}
