@font-face {
  font-family: 'h5p-book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/h5p-interactive-book.eot?a3wrpr#iefix') format('embedded-opentype'),
    url('../fonts/h5p-interactive-book.ttf?a3wrpr') format('truetype'),
    url('../fonts/h5p-interactive-book.woff?a3wrpr') format('woff'),
    url('../fonts/h5p-interactive-book.svg?a3wrpr#h5p-interactive-book') format('svg');
}

.h5p-interactive-book [class^='icon-'],
.h5p-interactive-book [class*=' icon-'] {
  font-family: 'h5p-book';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

.icon-close {
  ::before {
    content: '\e900';
  }
}

.icon-expanded {
  &::before {
    content: '\e901';
  }
}

.icon-collapsed {
  &::before {
    content: '\e902';
  }
}

.icon-chapter-started {
  &::before {
    content: '\e903';
  }
}

.icon-chapter-done {
  &::before {
    content: '\e90a';
  }
}

.icon-check-mark {
  &::before {
    content: '\e910';
  }
}

.icon-chapter-blank {
  &::before {
    content: '\e905';
  }
}

.icon-menu {
  &::before {
    content: '\e906';
  }
}

.icon-previous {
  &::before {
    content: '\e907';
  }
}

.icon-next {
  &::before {
    content: '\e908';
  }
}

.icon-up {
  &::before {
    content: '\e909';
  }
}

.icon-question-answered {
  &::before {
    content: '\e90a';
  }
}

.icon-enable-fullscreen {
  &::before {
    content: '\e90b';
  }
}

.icon-disable-fullscreen {
  &::before {
    content: '\e90c';
  }
}

.icon-restart {
  &::before {
    content: '\e90d';
  }
}

.icon-paper-pencil {
  &::before {
    content: '\e90e';
  }
}

.icon-paper {
  &::before {
    content: '\e90f';
  }
}
