@import "@styles/main";

.h5p-portfolio-status {
  align-items: center;
  background-color: $background-color;
  background-size: cover;
  border: 0;
  border-color: var(--color-base, $base-color);
  border-style: solid;
  box-shadow: 10px 10px 30px $dark-grey-20;
  display: flex;
  overflow: hidden;
  padding: .5rem;

  .h5p-portfolio-status-button {
    align-items: center;
    background-color: var(--color-base-5, rgba(23, 104, 196, 0.05));
    border-radius: 3px;
    display: flex;
    height: 3rem;
    padding: 0;
    width: 3rem;

    &:hover {
      background-color: var(--color-base-10, $base-color-10);
      background-size: cover;
      cursor: pointer;
    }

    &:active {
      background-color: var(--color-base-20, $base-color-20);
      background-size: cover;
    }

    &[disabled] {
      &:hover {
        background-color: var(--color-base-5, rgba(23, 104, 196, 0.05));
        cursor: default;
      }
    }
  }
}

.h5p-portfolio-status-fullscreen {
  background-color: var(--color-base-5, $base-color-5);
  background-size: cover;
  border: .125rem solid $background-color;
  flex-shrink: 0;
  justify-content: center;
  order: 5;

  &.h5p-portfolio-enter-fullscreen {
    &::before {
      color: var(--color-base, $base-color);
      content: '\e90b';
      font-family: 'h5p-book', system-ui, -apple-system, sans-serif;
      font-size: 1rem;
    }
  }

  &.h5p-portfolio-exit-fullscreen {
    &::before {
      font-size: 1rem;
      color: var(--color-base, $base-color);
      content: '\e90c';
      font-family: 'h5p-book', system-ui, -apple-system, sans-serif;
    }
  }
}

.h5p-portfolio-status-menu {
  background-color: $background-color;
  background-size: cover;
  border: 2px solid $background-color;
  border-radius: 3px;
  flex-shrink: 0;
  order: 0;

  .icon-menu {
    color: var(--color-base, $base-color);
    font-size: 1.5rem;
    margin: auto;

    &::before {
      content: '\e906';
    }
  }

  &.h5p-portfolio-status-menu-active {
    background-color: var(--color-base, $base-color);
    opacity: 20;
    position: relative;

    .icon-menu {
      color: $background-color;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: var(--color-base-90, $base-color-90);
      background-size: cover;
      cursor: pointer;
    }

    &:active {
      background-color: var(--color-base-95, $base-color-95);
      background-size: cover;
    }

    &:focus-visible {
      outline-color: #1768C4;
      outline-offset: 1px;
    }
  }
}

.h5p-portfolio-status-progress {
  flex-shrink: 0;
  margin: 0;
  white-space: nowrap;
  width: 86px;

  .hidden-but-read {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.h5p-portfolio-status-progress-number {
  color: var(--color-base, $base-color);
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  text-decoration: none solid var(--color-base, $base-color);
}

.h5p-portfolio-status-progress-divider {
  color: $mud;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  text-decoration: none solid $mud;
}

.h5p-portfolio-status-progressbar-back {
  background-color: var(--color-base-20, $base-color-20);
  background-size: cover;
  width: 100%;
}

.h5p-portfolio-status-progressbar-front {
  background-color: var(--color-base, $base-color);
  height: .25rem;
  transition: 1s;
}

.h5p-portfolio-status-chapter {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .title {
    color: $mud;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    padding: 0 1rem;
    text-decoration: none solid $mud;
    text-overflow: ellipsis;
  }
}

.h5p-portfolio-status-arrow {
  background-color: var(--color-base-5, $base-color-5);
  background-size: cover;
  border: .125rem solid $background-color;
  border-radius: 3px;
  flex-shrink: 0;
  height: 2.75rem;
  width: 2.75rem;

  &.previous {
    order: 3;
  }

  &.next {
    order: 4;
  }

  .navigation-button {
    background: transparent;
    border: 0;
    color: var(--color-base, $base-color);
    font-size: 1.5rem;
    margin: auto;

    &.icon-previous {
      &::before {
        content: '\e907';
      }
    }

    &.icon-next {
      &::before {
        content: '\e908';
      }
    }

    &.icon-up {
      &::before {
        content: '\e909';
      }
    }
  }

  &.disabled .navigation-button {
    opacity: .5;
  }
}

.h5p-portfolio-status-header {
  background: $background-color;
  top: 0;
  z-index: 2;

  .h5p-portfolio-status-to-top {
    display: none;
  }
}

.h5p-portfolio-status-footer {
  bottom: 0;

  .h5p-portfolio-status-menu {
    display: none;
  }

  &.footer-hidden {
    display: none;
  }
}
